<?xml version="1.0" ?>
<model>
    <name>New Pole</name>
    <version>1.0</version>
    <sdf version="1.0">Post.sdf</sdf>
    <author>
        <name>Alison Burgess</name>
        <email>alison.burgess@wsu.edu</email>
    </author>
    <description>A model for the new qualification Pole</description>
</model>
