<?xml version="1.0" ?>
<model>
    <name>New Gate</name>
    <version>1.0</version>
    <sdf version="1.0">new_gate.sdf</sdf>
    <author>
        <name>Alison Burgess</name>
        <email>alison.burgess@wsu.edu</email>
    </author>
    <description>A model for the new gate</description>
</model>
