<launch>
<rosparam command="load" file="$(find robosub)/param/cobalt.yaml"/>
<rosparam command="load" file="$(find robosub_simulator)/param/obstacles.yaml"/>
<rosparam command="load" file="$(find robosub_simulator)/param/simulator.yaml"/>
<arg name="world_file"  default="$(find robosub_simulator)/worlds/underwater.world"/>
<arg name="gui"  default="true"/>
<include file="$(find gazebo_ros)/launch/empty_world.launch">
   <arg name="use_sim_time" value="true"/>
   <arg name="debug" value="false"/>
   <arg name="gui" value="$(arg gui)" />
   <arg name="verbose" value="true"/>
   <arg name="world_name" value="$(arg world_file)"/>
</include>
<node name="spawn_robosub" pkg="robosub_simulator" type="spawn_robosub.sh"/>
<node name="simulator_bridge" pkg="robosub_simulator" type="simulator_bridge" required="true"/>
</launch>
