<?xml version="1.0"?>
<launch>
    <arg name="world" default="transdec"/>
    <arg name="gazebo_gui" default="false"/>
    <arg name="minimal" default="false"/>
    <arg name="shaders" default="true"/>

    <arg name="disableShaders" value="" if="$(arg shaders)"/>
    <arg name="disableShaders" value="--disableShaders" unless="$(arg shaders)"/>
   
    <group>
        <include file="$(find robosub_simulator)/launch/gazebo.launch">
            <arg name="world" value="$(arg world)"/>
            <arg name="gui" value="$(arg gazebo_gui)"/>
            <arg name="minimal" value="$(arg minimal)"/>
        </include>

        <!-- launch uwsim -->
        <node name="uwsim" pkg="uwsim" type="uwsim"
            args="$(arg disableShaders) --configfile worlds/uwsim_world.xml
                  --dataPath $(find robosub_simulator)"
            output="screen" required="true"/>
    </group>
</launch>
