<?xml version='1.0'?>
<robot name="cobalt">
    <link name="base_link">
        <visual>
            <geometry>
                <mesh filename="models/cobalt/Cobalt.stl"/>
            </geometry>
        </visual>
    </link>

    <link name="left_camera">
        <origin rpy="0 0 0" xyz="0 0 0"/>
    </link>
    <joint name="baselink_to_leftcam" type="fixed">
        <parent link="base_link"/>
        <child link="left_camera"/>
        <origin rpy="-1.57079632679 0 1.57079632679" xyz="0.37 -0.20 0.04"/>
    </joint>

    <link name="right_camera">
        <origin rpy="0 0 0" xyz="0 0 0"/>
    </link>
    <joint name="baselink_to_rightcam" type="fixed">
        <parent link="base_link"/>
        <child link="right_camera"/>
        <origin rpy="-1.57079632679 0 1.57079632679" xyz="0.37 0.20 0.28"/>
    </joint>

    <link name="bottom_camera">
        <origin rpy="0 0 0" xyz="0 0 0"/>
    </link>
    <joint name="baselink_to_bottomcam" type="fixed">
        <parent link="base_link"/>
        <child link="bottom_camera"/>
        <origin rpy="-1.57079632679 0 1.57079632679" xyz="0 0 0.1"/>
    </joint>
</robot>
